<script type="text/javascript">
 $(document).ready(function() {
   $("#Check-In").click(function() {
     alert("checkin in to tbm")
   });
   ///////////////////////////////////////////////////////
   //if (mydata["this_machine_info"][0].machine_name == "Autogenerada") {
   if (mydata["this_machine_info"][0].is_locked == true) {
      console.log("locking status for this machine is:"+mydata["this_machine_info"][0].is_locked);
     //alert ("machine needs Adoption");
     //$('#overlay, #overlay-back').fadeIn(500);
     document.getElementById("popup").style.display = "inline";

   } else {
     document.getElementById("popup").style.display = "none";
     console.log("locking status for this machine is:"+mydata["this_machine_info"][0].is_locked);

   }

   socket.on('adopt', function(msg) {
     //  $('#out_of_service').fadeOut(500);
     console.log("adopting machine:" + msg);
     //alert("THIS MACHINE IS REQUESTED TO BE ADOPTED");
     // if (msg.orden=="lock") {
     //   $('#overlay, #overlay-back').fadeIn(500);
     // }else {
     //   $('#overlay, #overlay-back').fadeOut(500);
     // }
     $('#overlay, #overlay-back').fadeOut(500);

   });
   $('#message').text(mydata["this_machine_info"][0].machine_name);
   $('#tienda_id').text(mydata["this_machine_info"][0].tienda_id);
   $('#public_machine_ip').text(mydata["this_machine_info"][0].public_machine_ip);
   // $('#overlay, #overlay-back').fadeOut(500);
   //console.log("ESto es historial" + JSON.stringify(mydata["historial"]));
   //console.log("ESto es historial" + mydata["historial"]);
   // console.log( mydata["historial"]);


   //  var no_rhs=0;
   // forEach((mydata["historial"]), i) => {
   //   //  no_rhs=no_rhs+1;
   // //    console.log("sumando 1");
   // });

   function addCommas(nStr) {
     nStr += '';
     x = nStr.split('.');
     x1 = x[0];
     x2 = x.length > 1 ? '.' + x[1] : '';
     var rgx = /(\d+)(\d{3})/;
     while (rgx.test(x1)) {
       x1 = x1.replace(rgx, '$1' + ',' + '$2');
     }
     return x1 + x2;
   }
   var monto_formateado;

   $.each(mydata["historial"], function(index, value) {
     var monto_formateado = addCommas(value["monto"]);
    // console.log(index + ": " + value["tebs_barcode"] + " con monto de :S/" + value["monto"] + " con fecha de :" + value["fecha"] + " con hora de :" + value["hora"]);
     if (value["status"] == "iniciada") {
    //   document.getElementById("lista_remesas_hermesx").innerHTML = "";
       $(".lista_remesas_hermes").append("<div class='ec_panel_tarjeta_historial_remesa_hermes_verde'><div class='label_tebs'>TebsBarcode:</div><div class='numero_de_tebs'>" + value["tebs_barcode"] +
         "</div><div class='label_status'>Status</div><div class='status'>" + value["status"] + "</div><div class='label_fecha_creacion'>fecha creacion</div><div class='fecha_creacion'>" + value["ts_inicio"] +
         "</div><div class='label_fecha_cierre'>fecha cierre</div><div class='fecha_cierre'>" + value["ts_fin"] + "</div><div class='label_moneda'>" + value["moneda"] + "</div><div class='label_monto'>" + monto_formateado +
         "</div><div class='label_no_billetes'>no_billetes:</div><div class='no_billetes'>" + value["no_billetes"] + "</div>");
       //"<div class='ec_panel_tarjeta_historial_remesa_hermes_verde'><div class='label_tebs'>TebsBarcode:</div><div class='numero_de_tebs'>"+value["tebs_barcode"]+"</div><div class='label_status'>Status</div><div class='status'>"+value["status"]+"</div><div class='label_fecha_creacion'>fecha creacion</div><div class='fecha_creacion'>"+value["fecha"]+" / "+value["hora"]+"</div><div class='label_fecha_cierre'>fecha cierre</div><div class='fecha_cierre'>"+value["fecha_fin"]+" / "+value["hora_fin"]+"</div><div class='label_moneda'>"+value["moneda"]+"</div><div class='label_monto'>"+monto_formateado+"</div><div class='label_no_billetes'>no_billetes:</div><div class='no_billetes'>"+value["no_billetes"]+"</div>"
     } else {
       $(".lista_remesas_hermes").append("<div class='ec_panel_tarjeta_historial_remesa_hermes_roja'><div class='label_tebs'>TebsBarcode:</div><div class='numero_de_tebs'>" + value["tebs_barcode"] +
         "</div><div class='label_status'>Status</div><div class='status'>" + value["status"] + "</div><div class='label_fecha_creacion'>fecha creacion</div><div class='fecha_creacion'>" + value["ts_inicio"] +
         "</div><div class='label_fecha_cierre'>fecha cierre</div><div class='fecha_cierre'>" + value["ts_fin"] + "</div><div class='label_moneda'>" + value["moneda"] + "</div><div class='label_monto'>" + monto_formateado +
         "</div><div class='label_no_billetes'>no_billetes:</div><div class='no_billetes'>" + value["no_billetes"] + "</div>");
       //"<div class='ec_panel_tarjeta_historial_remesa_hermes_roja'><div class='label_tebs'>TebsBarcode:</div><div class='numero_de_tebs'>"+value["tebs_barcode"]+"</div><div class='label_status'>Status</div><div class='status'>"+value["status"]+"</div><div class='label_fecha_creacion'>fecha creacion</div><div class='fecha_creacion'>"+value["fecha"]+" / "+value["hora"]+"</div><div class='label_fecha_cierre'>fecha cierre</div><div class='fecha_cierre'>"+value["fecha_fin"]+" / "+value["hora_fin"]+"</div><div class='label_moneda'>"+value["moneda"]+"</div><div class='label_monto'>"+monto_formateado+"</div><div class='label_no_billetes'>no_billetes:</div><div class='no_billetes'>"+value["no_billetes"]+"</div>"
     }
     //  ");
   });

   $.each(mydata["remesas_from_this_tebsbarcode"], function(index, value) {
     var monto_formateado = addCommas(value["monto"]);
  //   console.log(index + ": " + value["tebs_barcode"] + " con monto de :S/" + value["monto"] + " con fecha de :" + value["fecha"] + " con hora de :" + value["hora"]);
     if (value["status"] == "terminado" & value["tipo"] == "ingreso") {
  //     console.log("detectando remesa terminada");

       $(".lista_remesas").append("<div class='ec_panel_tarjeta_historial_verde'><div class='label_no_remesa'># Remesa:</div><div class='no_remesa'>" + value["no_remesa"] + "</div><div class='label_tipo'>Tipo:</div><div class='tipo'>" +
         value["tipo"] + "</div><div class='label_tebs'>TebsBarcode</div><div class='numero_de_tebs'>" + value["tebs_barcode"] + "</div><div class='label_status'>Status</div><div class='status'>" + value["status"] +
         "</div><div class='label_fecha_creacion'>fecha creacion</div><div class='fecha_creacion'>" + value["ts_inicio"] + "</div><div class='label_moneda'>" + value["moneda"] + "</div><div class='label_monto'>" + monto_formateado +
         "</div><div class='label_no_billetes'>no_billetes:</div><div class='no_billetes'>" + value["no_billetes"] + "</div>");
       //"<div class='ec_panel_tarjeta_historial_verde'><div class='label_no_remesa'># Remesa:</div><div class='no_remesa'>"+value["no_remesa"]+"</div><div class='label_tipo'>Tipo:</div><div class='tipo'>"+value["tipo"]+"</div><div class='label_tebs'>TebsBarcode</div><div class='numero_de_tebs'>"+value["tebs_barcode"]+"</div><div class='label_status'>Status</div><div class='status'>"+value["status"]+"</div><div class='label_fecha_creacion'>fecha creacion</div><div class='fecha_creacion'>"+value["fecha"]+" / "+value["hora"]+"</div><div class='label_moneda'>"+value["moneda"]+"</div><div class='label_monto'>"+monto_formateado+"</div><div class='label_no_billetes'>no_billetes:</div><div class='no_billetes'>"+value["no_billetes"]+"</div>"
     }
     if (value["status"] == "completado" & value["tipo"] == "egreso") {
       $(".lista_remesas").append("<div class='ec_panel_tarjeta_historial_azul'><div class='label_no_remesa'># Remesa:</div><div class='no_remesa'>" + value["no_remesa"] + "</div><div class='label_tipo'>Tipo:</div><div class='tipo'>" +
         value["tipo"] + "</div><div class='label_tebs'>TebsBarcode</div><div class='numero_de_tebs'>" + value["tebs_barcode"] + "</div><div class='label_status'>Status</div><div class='status'>" + value["status"] +
         "</div><div class='label_fecha_creacion'>fecha creacion</div><div class='fecha_creacion'>" + value["ts_inicio"] + "</div><div class='label_moneda'>" + value["moneda"] + "</div><div class='label_monto'>" + monto_formateado +
         "</div><div class='label_no_billetes'>no_billetes:</div><div class='no_billetes'>" + value["no_billetes"] + "</div>");
     }

     if (value["status"] != "terminado" & value["tipo"] == "ingreso") {
       $(".lista_remesas").append("<div class='ec_panel_tarjeta_historial_roja'><div class='label_no_remesa'># Remesa:</div><div class='no_remesa'>" + value["no_remesa"] + "</div><div class='label_tipo'>Tipo:</div><div class='tipo'>" +
         value["tipo"] + "</div><div class='label_tebs'>TebsBarcode</div><div class='numero_de_tebs'>" + value["tebs_barcode"] + "</div><div class='label_status'>Status</div><div class='status'>" + value["status"] +
         "</div><div class='label_fecha_creacion'>fecha creacion</div><div class='fecha_creacion'>" + value["ts_inicio"] + "</div><div class='label_moneda'>" + value["moneda"] + "</div><div class='label_monto'>" + monto_formateado +
         "</div><div class='label_no_billetes'>no_billetes:</div><div class='no_billetes'>" + value["no_billetes"] + "</div>");
     }
   });

  });
</script>

<style media="screen">
  .wrapper {
    position: relative;
  }

  #overlay-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    border-radius: 15px;
    opacity: 0.6;
    filter: alpha(opacity=60);
    z-index: 5;
    display: none;
  }

   #overlay {
     position: absolute;
     top: 10%;
     left: 10%;
     width: 80%;
     height: 100%;
     opacity: 1;
     z-index: 10;
     display: none;
     margin: 0 auto;
   }
</style>

scr
