<script type="text/javascript">
  var socket = io();
  $(document).ready(function() {
    $("#testy").click(function() {
      $('#overlay, #overlay-back').fadeOut(500);
    });

    $('#test').on('click', function() {
      $('#overlay, #overlay-back').fadeIn(500);
    });

    $('#volver').on('click', function() {
     socket.emit('volver',"volver requerido");
    });
    socket.on('volver', function(msg) {
      window.location.replace("/");
    });

  });
</script>
<style media="screen">
  /* html, body {
  width  : 100%;
  height : 100%;
} */
.wrapper{
  position: relative;
}
  #overlay-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    border-radius: 15px;
    opacity: 0.6;
    filter: alpha(opacity=60);
    z-index: 5;
    display: none;
  }

  #overlay {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 100%;
    opacity: 1;
    z-index: 10;
    display: none;
    margin: 0 auto;
  }
  .grupo3{
    /* grid-column: 1/5; */
    min-height:350px;
    width: 100%;
    max-width: 700px;
    /*grid-row: auto; */
    background-color:  rgba(60, 60, 60, 1);
    /* background-image: url("../img/bg_image4.jpg"); */
    color: white;
    border: 4.5px solid white;
    border-radius: 15px;
    padding: 5px;
    text-align: center;
    display:grid;
    grid-template-columns: 0.5fr auto 0.5fr;
    grid-template-rows:0.5fr 1fr 1fr 0.5fr;
    }
</style>

<body>
  <div class="wrapper">
                          <div class="popup">
                            <div id="overlay-back"></div>
                            <div id="overlay">
                              <div class="grupo3">
                                <div></div><div id="titulo_popup">No hay dinero</div><div></div>
                                <div><i class="fab fa-creative-commons-nc fab-4x"></i><br>
                                </div><div> Deposito exitoso</div><div></div>
                                <div></div><div></div><div></div>
                                <div></div><div><a class="btn" style="width:120px;" id="testy">Cerrar</a></div><div></div>
                              </div>
                              </div>
                          </div>
    <div class="titulo">
      <div></div>
      <div>Depositos</div>
    </div>
    <div class="grupo2">

      <div>  <h1>Volver</h1><a class="btn" style="width:120px;" id="volver">Volver</a></div>
      <div></div>
      <div></div>
      <div></div>
      <div>
        <h1>Mostrar overlay</h1><a class="btn" style="width:120px;" id="test">Mostrar</a>
      </div>

    </div>
  </div>
</body>
