<script type="text/javascript">
  var system_timer;
  var timer3;
  var once = true;
  var tog_validator = true;
  var remote_TBM = io.connect('http://192.168.1.2:3000');
  var is_connected = false;
  var is_cashbox_in_service = true;

  $(document).ready(function() {
    cargar_pantalla_guardada();
    $("#abc").css('visibility', 'hidden');
    display_remote_conection();
/////////////////////////////////////////////////////////////////////
    $(document).on("click","#config",function(){
      //console.log("click en wrapper");
      socket.emit("config",'config');
    });
    $("#config").on("click",function() {
      console.log("presione el boton de config");
      socket.emit("config",'config');
    });
    socket.on('config2', function(msg){
      console.log("en client side, recibi el socket config...");
    //  $('#display').load("./system/configuracion.html");
        $('#display').html(msg);
    });
/////////////////////////////////////////////////////////////////////
    $(document).on("click","#main",function(){
      socket.emit("buffer",'buffer');
    });
    socket.on('buffer', function(msg){
        console.log("en client side, recibi el buffer ");
      //  $('#display').innerHTML=msg;
        $('#display').html(msg);
    //  $('#display').load("./buffer.html");
    });

    $("#borrar_pizarra").click(function() {
      socket.emit('borrar_pizarra',"se esta borrando la pizarra en todos los usuarios");
    });
    socket.on('iniciar_remesa', function(msg) {
      borrar_la_pizarra();
    });
    socket.on('borrar_todo', function(msg) {
      borrar_la_pizarra();
    });
    socket.on('volver', function(msg) {
      $('#display').load("./buffer.html");
    });
    socket.on('cargar_otro', function(msg) {
      $('#display').load("./otro.html");
    });
/////////////////////////////////////////////////////////////////////
    // socket.on('buffer', function(msg) {
    // //  borrar_la_pizarra();
    // $('#display').load("./buffer.html");
    // });
/////////////////////////////////////////////////////////////////////
  //   $("#config").click(function() {
  //   socket.emit("config",'config');
  // });
  //   socket.on('config', function(msg){
  //   $('#display').load("./system/configuracion.html");
  // });

    // socket.on('iniciar_nueva_remesa_paso2', function(msg){
    //   $('#pizarra').load("./nueva_remesa_paso_2.html");
    // });

    ////////////////////////////////////////////////////
    remote_TBM.on('machine', function(data) {
      console.log("ticking...");
    });
    ////////////////////////////////////////////////////
    socket.on('system_running_indicator', function(msg) {
      display_system_running_indicator();
      online = true;
    });
    socket.on('show_connected', function(msg) {
      is_connected = true;
      //  $("#abc").show();
      display_remote_conection();
      clearTimeout(timer3);
      console.log("show_connected");
      clear_conection();

    });
    socket.on('show_not_connected', function(msg) {
      is_connected = false;
      //$("#abc").hide();

      //document.getElementById("abc").css('visibility', 'hidden');
      //  $("#abc").css('visibility', 'hidden');
    });
    socket.on('location_reload', function(msg) {
      console.log("reloading...");
      //location.reload();
      //location.replace("/");
    });

    $("#UC").click( function(){
     socket.emit('unlock_cashbox');
    });
    socket.on('unlock_cashbox', function(msg){
     display_message(msg);
    });
    //////////////////////////////////////////
    // lock TEBS Cashbox
    $("#LC").click( function(){
     socket.emit('lock_cashbox');
    });
    socket.on('lock_cashbox', function(msg){
     display_message(msg);
    });
    socket.on('Cashbox_Unlock_Enable', function(msg){
     //display_message(msg);
     document.getElementById("msg1").innerHTML="pestillo desbloqueado";
     console.log("pestillo desbloqueado");
    });
    socket.on('Cashbox_lock_Enable', function(msg){
     //display_message(msg);
     document.getElementById("msg1").innerHTML="pestillo desbloqueado";
     console.log("pestillo bloqueado");
    });

    function loadFile(filePath) {
  var result = null;
  var xmlhttp = new XMLHttpRequest();
  xmlhttp.open("GET", filePath, false);
  xmlhttp.send();
  if (xmlhttp.status==200) {
    result = xmlhttp.responseText;
  }
  return result;
}
    function cargar_pantalla_guardada() {
        $('#display').load("./buffer.html");
    }
    function borrar_la_pizarra() {
        document.getElementById('display').innerHTML="";
    }
    function clear_conection() {
      timer3 = setTimeout(function() {
        is_connected = false;
      }, 20000);
    }
    function display_remote_conection() {
      if (is_connected) {
        $("#abc").css('visibility', 'visible');
      } else {
        $("#abc").css('visibility', 'hidden');
      }
      setTimeout(function() {
        display_remote_conection();
      }, 5000);
    }
    function display_system_running_indicator() {
      $("#system_running_indicator").show();

      //  document.getElementById("system_running_indicator").css('visibility', 'visible')
      //  document.getElementById("system_running_indicator").innerHTML=".";
      setTimeout(clear_system_running_indicator, 200);
    };
    function clear_system_running_indicator() {
      $("#system_running_indicator").hide();
      //  document.getElementById("system_running_indicator").css('visibility', 'hidden')
      //  document.getElementById("system_running_indicator").innerHTML="";
    };
    function display_message(mes_to_display) {
      document.getElementById("message").innerHTML = mes_to_display;
      setTimeout(clear_message, 1000);
    };
    function clear_message() {
      document.getElementById("message").innerHTML = ""
      document.getElementById("msg1").innerHTML="pestillo bloqueado";
    };
  });
</script>
<style media="screen">
  /* html, body {
    width  : 100%;
    height : 100%;
  } */
  .wrapper {
    position: relative;
  }

  /* .popup{
    position: relative;
  } */
  .overlay-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    border-radius: 15px;
    opacity: 0.6;
    filter: alpha(opacity=60);
    z-index: 5;
    display: none;
  }

  #overlay {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 100%;
    opacity: 1;
    z-index: 10;
    display: none;
    margin: 0 auto;
  }

  #overlay2 {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 100%;
    opacity: 1;
    z-index: 10;
    display: none;
    margin: 0 auto;
  }

  #inicializando_sistema {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 100%;
    opacity: 1;
    z-index: 10;
    display: none;
    margin: 0 auto;
  }

  #out_of_service {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 100%;
    opacity: 1;
    z-index: 10;
    display: none;
    margin: 0 auto;
  }

  .grupo3 {
    /* grid-column: 1/5; */
    min-height: 350px;
    width: 100%;
    max-width: 700px;
    /*grid-row: auto; */
    background-color: rgba(60, 60, 60, 1);
    /* background-image: url("../img/bg_image4.jpg"); */
    color: white;
    border: 4.5px solid white;
    border-radius: 15px;
    padding: 5px;
    text-align: center;
    display: grid;
    grid-template-columns: 0.5fr auto 0.5fr;
    grid-template-rows: 0.5fr 1fr 1fr 0.5fr;
  }
</style>

<body oncontextmenu="return false">
  <div id="loading" style="display:none"> <br>Error:<br/>El servidor esta paralizado.</div>
  <div id="display">
    <div class="wrapper" id="pizarra">

    </div>
  </div>

</body>
