<script type="text/javascript">
  var timer_de_display_remote_conection_to_tbm;
  //var remote_TBM = io.connect('http://192.168.1.6:3000');
  var is_connected = false;
  var mydata;

  $(document).ready(function() {



    cargar_pantalla_guardada();
    $("#TBM_icon").css('visibility', 'hidden');
    display_remote_conection_to_TBM();
    /////////////////////////////////////////////////////////////
    function enlace_a(a1) {
      var a1x="#"+a1;
      $(document).on("click",a1x,function(){
        console.log("emitting:"+a1);
        socket.emit(a1,a1);
      });
      socket.on(a1, function(msg){
        console.log("receiving:"+a1);
        $('#display').html(msg[1]);
        mydata=msg[0];
        console.log("esto viene de enlace a:"+JSON.stringify(mydata));
      });
      return;
    }
    ////////////////////////////////////////////////////////////
    function mandar_orden(a2) {
      var a2y="#"+a2;
      $(document).on("click",a2y,function(){
        console.log("mandar order:"+a2);
        socket.emit(a2,a2);
      });
      socket.on(a2, function(msg){
        console.log("receiving socket.on:"+a2);
        console.log(msg);
        $('#display').html(msg[1]);
        mydata=msg[0];
        //  console.log("esto viene de enlace a:"+JSON.stringify(mydata));
        //  console.log("Nombre:"+ mydata.nombre);

      //  display_message(msg);
      //      socket.emit(a2,msg);
      //  console.log(msg);
      });
      return;
    }
      ////////////////////////////////////////////////////////////
    function mandar_orden_sin_link(a2) {
      var a2y="#"+a2;
      $(document).on("click",a2y,function(){
        console.log("receiving sin link:"+a2);
        socket.emit(a2,a2);
      });
      return;
    }
    ////////////////////////////////////////////////////////////
    function reflejar_orden(a2) {
      var a2y="#"+a2;
      // $(document).on("click",a2y,function(){
      //   console.log(a2);
      //   socket.emit(a2,a2);
      // });
      socket.on(a2, function(msg){
        console.log("receiving:"+a2);
      //  $('#display').html(msg[1]);
      //  mydata=msg[0];
      //  display_message(msg);
      console.log("reflejando orden:"+a2);
        socket.emit(a2,msg);
      //  console.log(msg);
      });
      return;
    }
/////////////////////////////////////////////////////////////////////
    enlace_a("main");
/////////////////////////////////////////////////////////////////////
    enlace_a("config");
  //  enlace_a("info");
//    enlace_a("cuadre_diario");
//    enlace_a("cifras_generales");
//    enlace_a("remesa_hermes");
//    enlace_a("Smart_emptying");
    enlace_a("Smart_emptied");
    enlace_a("cashbox_unlocked");
    enlace_a("Cashbox_Back_in_Service");

  //  enlace_a("iniciar_nueva_remesa");
    mandar_orden_sin_link("lock_cashbox");
    mandar_orden_sin_link("unlock_cashbox");
    mandar_orden("smart_empty");
    mandar_orden_sin_link("Smart_emptying");
  //  reflejar_orden("Smart_emptied");
  //  mandar_orden("Cashbox_Back_in_Service");
    mandar_orden("cancelar_remesa");
    // mandar_orden("trigger_socket");
    //
     mandar_orden("socket_to_tbm");
     mandar_orden("iniciar_nueva_remesa");
     mandar_orden("finish");

  //   mandar_orden("config");
     mandar_orden("info");
  //   mandar_orden("main");
     mandar_orden("cuadre_diario");
     mandar_orden("cifras_generales");
     mandar_orden("remesa_hermes");
     mandar_orden("rm_2");
     mandar_orden("rm_3");
     mandar_orden("rm_4");
     mandar_orden("rm_4_1");
     mandar_orden("rm_5");
    // mandar_orden("connected");
    socket.on('iniciando', function(msg) {
      console.log("refrescando pantallas");
      window.location.replace("/");
    });
    // socket.on('Read', function(msg){
    //   console.log("reading yeah!!");
    //  display_message(msg);
    // });
    socket.on('nuevo_billete_recivido', function(msg){
      console.log("nuevo_billete_recivido"+JSON.stringify(msg));
      document.getElementById("qty_bill").innerHTML = msg.qty_bill2;
      document.getElementById("depositado").innerHTML = msg.monto_total_remesa;

     display_message(msg.monto +" "+ msg.country_code+" "+msg.qty_bill2);

    });
/////////////////////////////////////////////////////////////////////
    // remote_TBM.on('machine', function(data) {
    //   console.log("ticking...");
    // });
    ////////////////////////////////////////////////////
    socket.on('system_running_indicator', function(msg) {
      display_system_running_indicator();
      online = true;
    });
    function display_system_running_indicator() {
      $("#system_running_indicator").show();
      setTimeout(clear_system_running_indicator, 200);
    };
    function clear_system_running_indicator() {
      $("#system_running_indicator").hide();
    };
    ////////////////////////////////////////////////////
    socket.on('show_connected_to_TBM', function(msg) {
      is_connected = true;
      display_remote_conection_to_TBM();
      clearTimeout(timer_de_display_remote_conection_to_tbm);
      console.log("show_connected_to_TBM");
      clear_conection_to_TBM();
    });
    socket.on('show_not_connected', function(msg) {
      is_connected = false;
    });
    function clear_conection_to_TBM() {
      timer_de_display_remote_conection_to_tbm = setTimeout(function() {
        is_connected = false;
      }, 20000);
    }
    function display_remote_conection_to_TBM() {
      if (is_connected) {
        $("#TBM_icon").css('visibility', 'visible');
      } else {
        $("#TBM_icon").css('visibility', 'hidden');
      }
      setTimeout(function() {
        display_remote_conection_to_TBM();
      }, 10000);
    }
    ////////////////////////////////////////////////////
    function loadFile(filePath) {
      var result = null;
      var xmlhttp = new XMLHttpRequest();
      xmlhttp.open("GET", filePath, false);
      xmlhttp.send();
      if (xmlhttp.status==200) {
        result = xmlhttp.responseText;
      }
      return result;
    }
    function cargar_pantalla_guardada() {
        socket.emit("main");
        //  $('#display').load("./system/buffer.html");
          //,{machine_name:"PRO_0103"});

    }
    //////////////////////////////////////////
    function display_message(mes_to_display) {
      document.getElementById("message2").innerHTML = mes_to_display;
      setTimeout(clear_message, 5000);
    };
    function clear_message() {
      document.getElementById("message2").innerHTML = "";
    //  document.getElementById("msg1").innerHTML = "Bloqueado";
    };


    //////////////////////////////////////////
  });
</script>


<body oncontextmenu="return false">
  <div id="loading" style="display:none"> <br>Error:<br/>El servidor esta paralizado.</div>
  <div id="display">
    <div class="wrapperx" id="pizarra">
      <!-- ESTO SE LLENA EN LINEA CON LA INFORMACION GUARDADA EN BUFFER.HTML -->
    </div>
  </div>
<!-- <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script> -->
</body>
