<script type="text/javascript">
var socket = io();
//var to_TBM = io.connect( 'http://tambox.ddns.net:4000' );
var to_TBM = io.connect( 'https://tbm-cloud.herokuapp.com' );

$(document).ready(function(){
//  setTimeout(function(){window.location.replace("/");},10000);
  $("#main").click(function(){
    window.location.replace("/");
  });
  $("#remesa_hermes").click(function(){
    window.location.replace("/remesa_hermes");
  });
  $("#cuadre_diario").click(function(){
    to_TBM.emit('retrialing',"retrialing");
    window.location.replace("/cuadre_diario");
  });
  $("#info").click(function(){
    window.location.replace("/info");
  });
  $("#montos").click( function(){
    window.location.replace("/montos");
  });
  $("#sincro").click( function(){
    socket.emit('sincronizando',"sincronizando via sockets");
    to_TBM.emit('agregar',"orden agregar desde tambox");
  });
  $("#test").click( function(){
    window.location.replace("/test");
  });
  $("#reset").click( function(){
   socket.emit('reset',"reseteando validador");
  });
  $("#reset_counters").click( function(){
   socket.emit('reset_counters',"reseteando contador");
  });
  $("#update").click( function(){
    socket.emit('update_requested',"update requested");
  });
  socket.on('display_message', function(msg){
    display_message(msg);
  });
  socket.on('system_running_indicator', function(msg) {
    display_system_running_indicator();
    online=true;
  });
  socket.on('update_requested', function(msg) {
   //  alert(msg);
    window.location.replace("/fin_remesa_hermes");
  });
// OVERLAY
  $('#test-over').on('click', function() {
    $('#overlay, #overlay-back').fadeIn(500);
  });

  $("#testy").click(function() {
    $('#overlay, #overlay-back').fadeOut(500);
  });
  $("#pagar").click(function() {
  //  var value_incents_inhex=document.getElementById('#total_amount').text();
    var value_incents_inhex = $('#total_amount').html();
    value_incents_inhex=value_incents_inhex*100;
    socket.emit('pay_value',value_incents_inhex);
  //  alert(value_incents_inhex*100);
  });
});
function display_message(mes_to_display){
  document.getElementById("message").innerHTML=mes_to_display;
  setTimeout(clear_message,4000);
};
function clear_message(){
  document.getElementById("message").innerHTML=""
};
function display_system_running_indicator(){
      $("#system_running_indicator").show();
  //  document.getElementById("system_running_indicator").innerHTML="." ;
    setTimeout(clear_system_running_indicator,200);
  };
function clear_system_running_indicator(){
      $("#system_running_indicator").hide();
  //  document.getElementById("system_running_indicator").innerHTML="";
  };

  var app = angular.module("DemoApp", ["FBAngular"]);
  function MainCtrl($scope) {
     /**
      * DRAG event handler
      */
     $scope.onDrag = function(value) {
        $scope.currentRotation = value;
          $('#total_amount').html((Math.round(value/4) / 100).toFixed(1));
          console.log ("DRAGGING", value)
        //  setTimeout(function () {
          //  $('#total_amount').html="";

        //  }, 100);

     }

     /**
      * DRAG END event handler
      */
     $scope.onDragEnd = function(value) {

        $scope.currentRotation = value;
        console.log ("DRAG_END", value)
      //  alert("drag stopped");
     }
  }

  window.onload = function () {
  //  alert("yoool im here");
        var script = document.createElement("script");
        script.type = "text/javascript";
        script.src = "http://www.telize.com/jsonip?callback=DisplayIP";
        document.getElementsByTagName("head")[0].appendChild(script);
    };
    function DisplayIP(response) {
        document.getElementById("ipaddress").innerHTML = "Your IP Address is " + response.ip;
    }
</script>
<style media="screen">
  /* html, body {
  width  : 100%;
  height : 100%;
} */
.wrapper{
  position: relative;
}
  #overlay-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    border-radius: 15px;
    opacity: 0.6;
    filter: alpha(opacity=60);
    z-index: 5;
    display: none;
  }

  #overlay {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 100%;
    opacity: 1;
    z-index: 10;
    display: none;
    margin: 0 auto;
  }
  .grupo3{
    /* grid-column: 1/5; */
    min-height:350px;
    width: 100%;
    max-width: 700px;
    /*grid-row: auto; */
    background-color:  rgba(60, 60, 60, 1);
    /* background-image: url("../img/bg_image4.jpg"); */
    color: white;
    border: 4.5px solid white;
    border-radius: 15px;
    padding: 5px;
    text-align: center;
    display:grid;
    grid-template-columns: 0.5fr auto 0.5fr;
    grid-template-rows:0.5fr 1fr 1fr 0.5fr;
    }
</style>

<body  oncontextmenu="return false" ng-app="DemoApp">
  <div class="wrapper">

              <div class="popup">
                <div id="overlay-back"></div>
                <div id="overlay">
                  <div class="grupo3">
                    <div></div><div id="titulo_popup">Titulo</div><div></div>
                    <div></div><div> YOUR HTML GOES HERE</div><div></div>
                    <div></div><div></div><div></div>
                    <div><a class="btn" style="width:120px;" id="opc1">Opcion1</a></div>
                    <div><a class="btn" style="width:120px;" id="testy">Cerrar</a></div>
                    <div></div>
                  </div>
                  </div>
              </div>

    <div class="titulo">
      <div class="btn" id='main'><i class="fas fa-long-arrow-alt-left  fa-1x"></i></div>
      <div>Registradora</div>
      <div class=""><div id="system_running_indicator"><i class="fas fa-atom fa-xs"></i></div></div>
    </div>
    <!-- <div class="wrapperx"> -->
<!-- <div></div> -->
<!-- <div class="titulo">
  <div></div>
  <div>Cantidad de billetes para vuelto</div>
  <div></div>
</div> -->
<div class="graph">
  <div ng-controller="MainCtrl">

<!-- <h3>Loops: {{! currentRotation/360 | number:0}} - Steps: {{! currentRotation | number:0}}</h3> -->

<img tmax-knob
src="img/knob.png"
width="205" height="205"
on-drag-end="onDragEnd(rotation)"
on-drag="onDrag(rotation)"
style="-webkit-user-select: none;">

  </div>
  <!-- <div class="chart">
    <section>  <canvas id="myChart" width="100" height="100"></canvas> </section>
  <script>
      var ctx = document.getElementById("myChart").getContext('2d');
      var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ["10PEN", "20PEN", "50PEN", "100PEN", "200PEN"],
            datasets: [{
                label: '# de Billetes',
                data: [0, 0, 0, 0, 0],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
      });
  </script>
  </div> -->
</div>
<div class="keypad">
  <a href="#" class="btn" id='lock'>+</a>
  <a href="#" class="btn" id='unlock'>-</a>
  <a href="#" class="btn" id='bar_code'>Borrar</a>
</div>
<div class="totales">
    <div class="resumen">
    <div class="subtitle">Total:</div>
    <div class="amount" id="total_amount">S/.000.00</div>
    <a href="#" class="btn" id='pagar'>Pagar</a>
  </div>
  </div>
<div class="footer">
  Elaborado por EC-HOME AUTOMATION PERU S.A.C <div id="ipaddress">

  </div>

    <!-- </div>
    <div id="message">
    <ol>
    </ol>
    </div> -->

</div>
<!-- </div> -->
  </div>
  <div id="message">
    <ol></ol>
  </div>
</body>
