@font-face {
  font-family: "CustomFont";
  src: url("/fonts/font1.ttf");
}
* {
  box-sizing: border-box;
}
html {
  touch-action:none;
}
body{
  background-color:black;
  color:rgb(106, 106, 106);
  font-family: Arial, Helvetica, sans-serif;
  /* max-height: 100vh; */
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
th{
  background-color: rgba(12, 51, 247, 0.75);
  color: white;
  font-size: 30px;
  font-weight:bold;
}
td{
  font-size: 30px;
}
li{
  padding:5px;
}

.ec_wrapper{
  display: grid;
  grid-row-gap: 5px;
  grid-template-rows: minmax(60px,60px) 1fr minmax(60px,60px);
  min-height: 98vh;
  /* max-height: 98vh; */
  color:gray;
  grid-template-areas:
    "cabecera"
    "area_trabajo"
    "pie_de_pagina";
}

.cabecera{
  background-color: rgb(201, 43, 9) ;
  grid-area: cabecera;
  align-content: center;
}
.area_trabajo{
  background-color: rgb(20, 243, 9) ;
  grid-area: area_trabajo;
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  /* grid-template-rows: 1fr 1fr; */
  grid-template-areas:
  "resumen resumen2"
  "panel1 panel2";
}
.logo{
  display: none;
}
.area_trabajo_logo{
  background-color: rgb(20, 243, 9) ;
  grid-area: area_trabajo;
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  /* grid-template-rows: 1fr 1fr; */
  grid-template-areas:
  "resumen resumen2"
  "panel1 panel2";
}
.panel1{
  grid-area:panel1;
  /* margin:30px; */
  background-color: rgb(20, 143, 9) ;
  justify-content: center;
  align-content: center;
}
.panel2{
  grid-area:panel2;
  /* margin:30px; */
  background-color: rgb(101, 43, 9) ;
  align-content: center;
}
.resumen{
  grid-area:resumen;
  /* margin:30px; */
  background-color: rgb(201, 143, 9) ;
  overflow-y: hidden;
  max-height: 400px;
}
.resumen2{
  grid-area:resumen2;
  /* margin:30px; */
  background-color: rgb(201, 143, 9) ;
  overflow-y: hidden;
  max-height: 400px;
}
.pie_de_pagina{
  /* background-color: rgb(20, 43, 199) ; */
  grid-area: pie_de_pagina;
  display: grid;
  /* justify-content: center; */
  /* margin: auto; */
  font-size:10px;
  color:gray;
}

.display{
  padding:0;
}
.anuncio{
  font-size: 16px;
  font-weight: bold;
}
.wrapper{
  /* max-width: 800px; */
  width: auto;
  /* max-height: 460px; */
  height: auto;
  overflow: hidden;
  position: relative;
  /* display: grid; */
  /* grid-template-columns: 100vh; */
  /* grid-template-columns:auto-fill, minmax(200px, 1fr); */
  /* grid-template-rows: auto auto auto; */
  grid-gap: 5px;
  margin : 0 auto;
}
.wrapper2{
  /* overflow-y: auto; */
  overflow: hidden;
  position: relative;
  display: grid;
  grid-gap: 5px;
  margin : 0;
}

.titulo{
  background-color: rgba(8, 8, 8, 1);
  display: grid;
  grid-template-columns: 0.5fr 3fr 0.5fr;

  border: 1.5px solid gray;
  padding: 5px;
  border-radius: 10px;
  grid-column: 1/5;

  color: white;
  font-size:38px;
  font-family: Arial, Helvetica, sans-serif;
  text-align:center;
  align-items: center;
}
.titulo2{
  background-color: rgba(8, 8, 8, 1);
  display: grid;
  grid-template-columns: 1fr 1fr 7fr 2fr 1fr;
  /* max-height: 13vh; */
  border: 1.5px solid gray;
  padding: 5px;
  border-radius: 10px;
  color: white;
  font-size:20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align:center;
  align-items: center;
}

.grupo2{
  grid-column: 1/5;
  min-height:350px;
  /* height: auto; */
  background-image: url("../img/bg_image4.jpg");
  /* background-image: url("../img/bg_tambox.png"); */

  color: white;
  border: 1.5px solid gray;
  border-radius: 15px;
  padding: 5px;
  text-align: center;
  display:grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows:repeat(3, auto);
}
.grupo3 {
  /* grid-column: 1/5; */
  min-height: 350px;
  width: 100%;
  max-width: 700px;
  /*grid-row: auto; */
  background-color: rgba(60, 60, 60, 1);
  /* background-image: url("../img/bg_image4.jpg"); */
  color: white;
  border: 4.5px solid white;
  border-radius: 15px;
  padding: 5px;
  text-align: center;
  display: grid;
  grid-template-columns: 0.5fr auto 0.5fr;
  grid-template-rows: 0.5fr 1fr 1fr 0.5fr;
}
.grupo4{
  grid-column: 1;
  min-height:87vh;
  /* background-image: url("../img/bg_image4.jpg"); */
  background-image: linear-gradient(to bottom, rgb(23, 22, 22), rgba(53,53,53));

  color: white;
  border: 1.5px solid gray;
  border-radius: 15px;
  padding: 5px;
  text-align: center;
  display:grid;
  grid-template-columns: repeat(4,1fr);
  /* grid-template-rows:repeat(4,1fr); */
  grid-gap:5px;
  justify-items:center;
  align-items: center;
}

.cuadre_diario{
  grid-column: 1/5;
  min-height:350px;
  /*grid-row: auto; */
  /* background-color:  rgba(8, 8, 8, 1); */
  background-image: url("../img/bg_image4.jpg");
  color: white;
  border: 1.5px solid gray;
  border-radius: 15px;
  padding: 5px;
  text-align: center;
  /* display:grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows:repeat(3, auto);
  grid-gap:1em; */

}
.remesa_hermes{
  grid-column: 1;
  min-height:87vh;
  /* min-height:350px; */
  /*grid-row: auto; */
  /* background-color:  rgba(8, 8, 8, 1); */
  background-image: url("../img/bg_image4.jpg");
  color: white;
  border: 1.5px solid gray;
  border-radius: 15px;
  /* padding: 5px; */
  text-align: center;
  display:grid;
  grid-template-columns: repeat(1, auto);
  /* grid-template-rows:repeat(3, auto); */
  grid-gap:1em;

}
.reporte_hermes{
  grid-column: 1/5;
  min-height:350px;
  max-height: 350px;
  /*grid-row: auto; */
  /* background-color:  rgba(8, 8, 8, 1); */
  background-image: url("../img/bg_image4.jpg");
  color: white;
  border: 1.5px solid gray;
  border-radius: 15px;
  padding: 5px;
  text-align: center;
  display:grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows:repeat(5, auto);
  grid-gap:1em;

}

.mensaje_monto{
  font-size:48px;
  font-weight: bold;
  grid-column: 3/5;
  grid-row:2/3;
  padding: 20px
}
.mensaje_centrado{
  font-size:28px;
  font-weight: bold;
  grid-column: 2/4;
  grid-row:2/4;
  padding: 20px;
}
.mensaje_centrado2{
  font-size:68px;
  font-weight: bold;
  grid-column: 2/5;
  grid-row:2/4;
  padding: 20px;
}

.mensaje_titulo{
  font-size:28px;
  font-weight: bold;
  /* grid-column: 2/4; */
  padding: 20px;
}
.mensaje{
  font-size:28px;
  font-weight: bold;
  /* grid-column: 2/4; */
  padding: 20px;
}
.mensaje_mediano{
  font-size:34px;
  font-weight:normal;
  grid-column: 2/5;
  text-align: left;
}
.mensaje_pequeno{
  /* width: 400px; */
  display: grid;
  /* font-size:16px; */
  font-weight:normal;
  /* grid-column: 2/4; */
  /* text-align: center; */
  /* justify-items:center; */
}
.mensaje_pequeno_izquierda{
  font-size:16px;
  font-weight:normal;
  grid-column: 1/3;
  grid-row: 1/4;
  text-align: left;
}
.grupo{
  grid-column: 1;
  min-height:350px;
  /*grid-row: auto; */
  /* min-width: 100%; */
  background-color:  rgba(8, 8, 8, 1);
  border: 1.5px solid gray;
  border-radius: 15px;
  padding: 5px;
  text-align: center;
  display:grid;
  grid-template-columns:repeat(auto-fill, minmax(200px, 1fr));
  /* repeat(7, 1fr); */
  /* grid-template-rows: repeat(2, 1fr); */
  grid-gap:1em;
  background-image: url("../img/bg_image4.jpg");
}

.grupo_full_width{
  grid-column: 1;
  min-width:100vh;
  /*grid-row: auto; */
  /* min-width: 100%; */
  background-color:  rgba(8, 8, 8, 1);
  border: 1.5px solid gray;
  border-radius: 15px;
  padding: 5px;
  text-align: center;
  display:grid;
  grid-template-columns:repeat(auto-fill, minmax(200px, 1fr));
  /* repeat(7, 1fr); */
  /* grid-template-rows: repeat(2, 1fr); */
  grid-gap:1em;
  background-image: url("../img/bg_image4.jpg");
}
#machine_sn{
  font-size: 22px;
  color: red;
  font-weight: bold;
}
#tebs{
    font-size: 22px;
  color: yellow;
  font-weight: bold;
}

#given_ip{
  font-size: 22px;
  color: yellow;
  font-weight: bold;
}

#given_port{
    font-size: 22px;
  color: yellow;
  font-weight: bold;

}
.inline-p {
     display: inline;
}
.keypad{
  grid-column: span 1;
  text-align: center;
  font-size: 22px;
  background-color:  rgba(8, 8, 8, 1);
  border: 1.5px solid gray;
  padding: 10px;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: 1fr 1fr 1fr; */
  grid-gap: 1em;
  grid-row-gap: 1em;
}
.texto{
  display:grid;
  grid-template-columns: 50% 50%;
  /* background-image: linear-gradient(to bottom, rgba(80,80,80), rgb(43, 43, 43)); */
  color:white;
  grid-column-start: span 2;
  border-radius: 12px;
  border: 1.5px solid gray;
  padding: 10px;
  margin:5px;
}
.btn{
  border-radius: 12px;
  background-color:rgba(12, 51, 247, 0.75);
  color:#fff;
  text-decoration: none;
  text-align: center;
  padding: 0.9rem 1.3rem;
  /* padding-left: 15px; */
  border: 0;
  /* shadow: 0 1px 5px rgba(104,104,104,0.8);
  box-shadow:0px 2px 4px rgba(104,104,104,0.8); */
  align-items: center;
  /* align-self: center; */
  align-content: center;
  /* height: 15
  0px;
  width:150px; */
  font-size: 18px;
  max-height: 150px;
}
.btn_grupo4{
  max-width: 50vh;
  border-radius: 12px;
  background-color:rgba(12, 51, 247, 0.75);
  color:#fff;
  text-decoration: none;
  text-align: center;
  padding: 0.9rem 1.3rem;
  /* padding-left: 15px; */
  border: 0;
  /* shadow: 0 1px 5px rgba(104,104,104,0.8);
  box-shadow:0px 2px 4px rgba(104,104,104,0.8); */
  align-items: center;
  /* align-self: center; */
  align-content: center;
  height: 150px;
  width:150px;
  font-size: 18px;
}

#titulo_popup{
  font-size:30px;
  color:white;
}
#depositado{
  font-size: 100px;
  font-weight: bold;
  color:yellow;
}
.depositado{
  font-size: 100px;
  font-weight: bold;
  color:yellow;
}
#pagado{
  font-size: 120px;
  font-weight: bold;
  color:yellow;
}
#parcial{
  font-size: 120px;
  font-weight: bold;
  color:blue;
}
#status_online {
  color: #53d000;
  /* text-shadow: 1px 1px 1px #ccc; */
  /* font-size: 1em; */
}
#out_of_service {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 100%;
  opacity: 1;
  z-index: 10;
  display: none;
  margin: 0 auto;
}

.interface_button{
  margin:5px;
}
.interface_label{
  margin:5px;
  font-size: 28px;
}
/* .btn:hover{background-color:orange;} */
.btn:focus{background-color:red;}
.graph{
  grid-column: 1/2;
  /* grid-rows: 2/4; */
  background-color: rgba(8, 8, 8, 1);
  border: 1.5px solid gray;
  padding: 10px;
  border-radius: 15px;
  align-items: center;
  align-content: center;
  text-align: center;
  /* align-self: center; */
}
.graph2{
  grid-column: 1/3;
  /* grid-rows: 2/4; */
  background-color: rgba(8, 8, 8, 1);
  border: 1.5px solid gray;
  padding: 10px;
  border-radius: 15px;
  align-items: center;
  align-content: center;
  text-align: center;
  /* align-self: center; */
}
.totales{
  grid-column: 3/5;
  text-align: center;
  font-size: 22px;
  background-color:  rgba(8, 8, 8, 1);
  border: 1.5px solid gray;
  padding: 10px;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: 1fr 1fr 1fr; */
  grid-gap: 1em;
  grid-row-gap: 1em;
}
.totales2{
  grid-column: 4/5;
  text-align: center;
  /* font-size: 22px; */
  background-color:  rgba(8, 8, 8, 1);
  border: 1.5px solid gray;
  /* padding: 10px; */
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: 1fr 1fr 1fr; */
  grid-gap: 1em;
  grid-row-gap: 1em;
}
.keypad2{
  grid-column: span 1;
  text-align: center;
  font-size: 22px;
  background-color:  rgba(8, 8, 8, 1);
  border: 1.5px solid gray;
  padding: 10px;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: 1fr 1fr 1fr; */
  grid-gap: 1em;
  grid-row-gap: 1em;
}
.footer{
  background-color: rgba(8, 8, 8, 1);
  border: 1.5px solid gray;
  border-radius: 10px;
  grid-column: 1/5;
  font-size: 12px;
  text-align: center;
  padding: 1em;
}
.subtitle{
  font-size: 26px;
  text-align: center;
  padding: 0.3em;
}
.amount{
  color:rgb(138, 138, 138);
  font-size: 30px;
  text-align: center;
  padding: 0.4em;
 padding-bottom: 30px;
}
.btn_level{
  border-radius: 12px;
  /*  */
  /* rgb(124, 123, 129) */
  background-color:rgba(12, 51, 247, 0.75);
  color:#fff;
  text-decoration: none;
  text-align: center;
  padding: 0!important;

  /* padding-left: 15px; */
  border: 0;
  shadow: 0 1px 5px rgba(104,104,104,0.8);
  box-shadow:0px 2px 4px rgba(104,104,104,0.8);
  align-items: center;
  align-self: center;
  align-content: center;
  /* height: minmax(100px,300px); */
  font-size: 18px;
}
#inicializando_sistema {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 100%;
  opacity: 1;
  z-index: 10;
  display: none;
  margin: 0 auto;
}
#overlay2 {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 100%;
  opacity: 1;
  z-index: 10;
  display: none;
  margin: 0 auto;
}
#overlay {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  opacity: 1;
  z-index: 10;
  display: none;
  margin: 0 auto;
}
#overlay-back {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  background: #000000;
  border-radius: 15px;
  /* opacity: 1; */
  /* filter: alpha(opacity=60); */
  z-index: 5;
  display: none;
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 12px;
  min-height:80vh;
  /* min-height:350px; */
  /*grid-row: auto; */
  /* background-color:  rgba(8, 8, 8, 1); */
  background-image: url("../img/bg_image4.jpg");
  color: white;
  border: 1.5px solid gray;
  border-radius: 15px;
  /* padding: 5px; */
  text-align: center;
}

.div1 { grid-area: 1 / 2 / 4 / 5; }
.div2 { grid-area: 2 / 2 / 6 / 5; }
.div3 { grid-area: 4 / 2 / 7 / 3; }
.div4 { grid-area: 4 / 4 / 7 / 5; }

.smart {
  display: grid;
  grid-template-rows: 0.5fr repeat(8, 1fr);
  grid-template-columns: repeat(9, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 12px;
  min-height:87vh;
  /* min-height:350px; */
  /*grid-row: auto; */
  /* background-color:  rgba(8, 8, 8, 1); */
  background-image: url("../img/bg_image4.jpg");
  color: white;
  border: 1.5px solid gray;
  border-radius: 15px;
  /* padding: 5px; */
  text-align: center;
  }

.smart_div1 { grid-area: 2 / 4 / 4 / 7; }
.smart_div2 { grid-area: 4 / 4 / 5 / 7; }
.smart_div3 { grid-area: 5 / 4 / 6 / 7; }
.smart_div4 { grid-area: 7 / 4 / 8 / 7; }
.smart_div5 { grid-area: 8 / 4 / 9 / 5; }


.ec_panel{
  display: grid;
  /* background-color: rgb(43, 43, 43); */
  color:white;
  /* background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgb(218, 196, 31)); */
  /* background-image: linear-gradient(to bottom, rgba(80,80,80), rgb(43, 43, 43)); */
  /* background-image: linear-gradient(to bottom, rgba(53,53,53), rgb(23, 22, 22)); */
  background-image: linear-gradient(to bottom, rgb(23, 22, 22),rgba(53,53,53));

  grid-gap:5px;
  filter: drop-shadow(1px 1px 15px #000000);
  /* opacity: 0.5; */
  /* grid-column-start: span 1; */
  border-radius: 12px;
  /* border: 1.5px solid rgb(174, 233, 28); */
  border: 1.5px solid rgb(80,80,80);

  padding: 5px;
  margin-bottom: 5px;

  /* overflow-y:scroll; */
}

.ec_panel_tarjeta_historial{
  display: grid;
  /* background-color: rgb(43, 43, 43); */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
  "label_status status status status"
  "label_tebs  numero_de_tebs label_fecha_cierre fecha_cierre"
  "label_moneda label_monto label_hora_cierre hora_cierre";

  color:white;
  /* background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgb(218, 196, 31)); */
  /* background-image: linear-gradient(to bottom, rgba(80,80,80), rgb(43, 43, 43)); */
  /* background-image: linear-gradient(to bottom, rgba(53,53,53), rgb(23, 22, 22)); */
  background-image: linear-gradient(to bottom, rgb(23, 22, 22),rgba(53,53,53));

  grid-gap:6px;
  filter: drop-shadow(1px 1px 15px #000000);
  /* opacity: 0.5; */
  /* grid-column-start: span 1; */
  border-radius: 12px;
  /* border: 1.5px solid rgb(174, 233, 28); */
  border: 1.5px solid rgb(80,80,80);

  padding: 5px;
  margin-bottom: 5px;
  max-height: 400px;
  overflow-y: scroll;
}


.ec_panel_tarjeta_historial_remesa_hermes_verde{
  display: grid;
  /* background-color: rgb(43, 43, 43); */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
  "label_status status label_fecha_creacion fecha_creacion "
  "label_tebs  numero_de_tebs label_fecha_cierre fecha_cierre"
  "label_moneda label_monto  label_no_billetes no_billetes";


  color:white;
  /* background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgb(218, 196, 31)); */
  /* background-image: linear-gradient(to bottom, rgba(80,80,80), rgb(43, 43, 43)); */
  /* background-image: linear-gradient(to bottom, rgba(53,53,53), rgb(23, 22, 22)); */
  background-image: linear-gradient(to bottom, rgb(23, 22, 22),rgba(81, 182, 43, 0.6));

  grid-gap:6px;
  filter: drop-shadow(1px 1px 15px #000000);
  /* opacity: 0.5; */
  /* grid-column-start: span 1; */
  border-radius: 12px;
  /* border: 1.5px solid rgb(174, 233, 28); */
  border: 1.5px solid rgb(80,80,80);

  padding: 5px;
  margin-bottom: 5px;
  max-height: 400px;
  overflow-y: scroll;
}
.ec_panel_tarjeta_historial_remesa_hermes_roja{
  display: grid;
  /* background-color: rgb(43, 43, 43); */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
  "label_status status label_fecha_creacion fecha_creacion "
  "label_tebs  numero_de_tebs label_fecha_cierre fecha_cierre"
  "label_moneda label_monto   label_no_billetes no_billetes";


  color:white;
  /* background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgb(218, 196, 31)); */
  /* background-image: linear-gradient(to bottom, rgba(80,80,80), rgb(43, 43, 43)); */
  /* background-image: linear-gradient(to bottom, rgba(53,53,53), rgb(23, 22, 22)); */
  background-image: linear-gradient(to bottom,  rgb(64, 22, 22),rgba(53,53,53));

  grid-gap:6px;
  filter: drop-shadow(1px 1px 15px #000000);
  /* opacity: 0.5; */
  /* grid-column-start: span 1; */
  border-radius: 12px;
  /* border: 1.5px solid rgb(174, 233, 28); */
  border: 1.5px solid rgb(80,80,80);

  padding: 5px;
  margin-bottom: 5px;
  max-height: 400px;
  overflow-y: scroll;
}

.ec_panel_tarjeta_historial_verde{
  display: grid;
  /* background-color: rgb(43, 43, 43); */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
  "label_no_remesa no_remesa no_remesa no_remesa"
  "label_tipo tipo label_status status "
  "label_tebs  numero_de_tebs label_fecha_creacion fecha_creacion"
  "label_moneda label_monto  label_no_billetes no_billetes";

  color:white;
  /* background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgb(218, 196, 31)); */
  /* background-image: linear-gradient(to bottom, rgba(80,80,80), rgb(43, 43, 43)); */
  /* background-image: linear-gradient(to bottom, rgba(53,53,53), rgb(23, 22, 22)); */
  background-image: linear-gradient(to bottom, rgb(23, 22, 22),rgba(81, 182, 43, 0.6));

  grid-gap:6px;
  filter: drop-shadow(1px 1px 15px #000000);
  /* opacity: 0.5; */
  /* grid-column-start: span 1; */
  border-radius: 12px;
  /* border: 1.5px solid rgb(174, 233, 28); */
  border: 1.5px solid rgb(80,80,80);

  padding: 5px;
  margin-bottom: 5px;
  max-height: 400px;
  overflow-y: scroll;
}

.ec_panel_tarjeta_historial_roja{
  display: grid;
  /* background-color: rgb(43, 43, 43); */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
  "label_no_remesa no_remesa no_remesa no_remesa"
  "label_tipo tipo label_status status "
  "label_tebs  numero_de_tebs label_fecha_creacion fecha_creacion"
  "label_moneda label_monto  label_no_billetes no_billetes";

  color:white;
  /* background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgb(218, 196, 31)); */
  /* background-image: linear-gradient(to bottom, rgba(80,80,80), rgb(43, 43, 43)); */
  /* background-image: linear-gradient(to bottom, rgba(53,53,53), rgb(23, 22, 22)); */
  background-image: linear-gradient(to bottom, rgb(64, 22, 22),rgba(53,53,53));

  grid-gap:6px;
  filter: drop-shadow(1px 1px 15px #000000);
  /* opacity: 0.5; */
  /* grid-column-start: span 1; */
  border-radius: 12px;
  /* border: 1.5px solid rgb(174, 233, 28); */
  border: 1.5px solid rgb(80,80,80);

  padding: 5px;
  margin-bottom: 5px;
  max-height: 400px;
  overflow-y: scroll;
}
.ec_panel_tarjeta_historial_azul{
  display: grid;
  /* background-color: rgb(43, 43, 43); */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
  "label_no_remesa no_remesa no_remesa no_remesa"
  "label_tipo tipo label_status status "
  "label_tebs  numero_de_tebs label_fecha_creacion fecha_creacion"
  "label_moneda label_monto  label_no_billetes no_billetes";

  color:white;
  /* background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgb(218, 196, 31)); */
  /* background-image: linear-gradient(to bottom, rgba(80,80,80), rgb(43, 43, 43)); */
  /* background-image: linear-gradient(to bottom, rgba(53,53,53), rgb(23, 22, 22)); */
  background-image: linear-gradient(to bottom, rgb(23, 22, 22),rgba(43, 92, 182, 0.94));

  grid-gap:6px;
  filter: drop-shadow(1px 1px 15px #000000);
  /* opacity: 0.5; */
  /* grid-column-start: span 1; */
  border-radius: 12px;
  /* border: 1.5px solid rgb(174, 233, 28); */
  border: 1.5px solid rgb(80,80,80);

  padding: 5px;
  margin-bottom: 5px;
  max-height: 400px;
  overflow-y: scroll;
}

.no_remesa{
  grid-area: no_remesa;
}
.label_no_remesa{
  grid-area: label_no_remesa;
}
.no_billetes{
  grid-area: no_billetes;
}
.label_no_billetes{
  grid-area: label_no_billetes;
}

.label_tipo{
  grid-area: label_tipo;
}
.tipo{
  grid-area: tipo;
}
.label_fecha_creacion{
  grid-area:label_fecha_creacion;
}
.fecha_creacion{
  grid-area:fecha_creacion;
}
.label_hora_creacion{
  grid-area:label_hora_creacion;
}
.hora_creacion{
  grid-area:hora_creacion;
}

.label_status{
  grid-area: label_status;
}
.status{
  grid-area: status;
}
.label_tebs{
  grid-area:label_tebs;
}
.numero_de_tebs{
  grid-area:numero_de_tebs;
}
.label_fecha_cierre{
  grid-area:label_fecha_cierre;
}
.fecha_cierre{
  grid-area:fecha_cierre;
}
.hora_cierre{
  grid-area:hora_cierre;
}
.label_moneda{
  grid-area:label_moneda;
}
.label_monto{
  grid-area:label_monto;
}
.label_hora_cierre{
  grid-area:label_hora_cierre;
}

.ec_card{
    display:grid;
    /* grid-template-columns: 50% 50%; */
    background-image: linear-gradient(to bottom, rgba(65,65,65), rgb(43, 43, 43));
    color:white;
    /* grid-column-start: span 2; */
    border-radius: 12px;
    border: 1.5px solid rgb(50, 50, 50);
    padding: 10px;
    /* margin:auto; */
    filter: drop-shadow(1px 1px 15px #000000);

}
.ec_card2{
    display:grid;
    /* grid-template-columns: 50% 50%; */
    background-image: linear-gradient(to bottom, rgba(65,65,65), rgb(43, 43, 43));
    color:white;
    /* grid-column-start: span 2; */
    border-radius: 12px;
    border: 1.5px solid rgb(50, 50, 50);
    padding: 10px;
    /* margin:auto; */
    filter: drop-shadow(1px 1px 15px #000000);
    overflow-y: scroll;
}
.ec_btn{
    display:grid;
    grid-auto-rows: 1fr 1fr;
    border-radius: 12px;
    /* background-color:rgba(12, 51, 247, 1); */
    /*  Muy buen skin !!!! */
    /* background-image: linear-gradient(to right, rgb(43, 43, 43), rgba(65,65,65)); */

    background-image: linear-gradient(to right, rgb(72, 100, 215), rgb(22, 58, 204));
    /* filter: drop-shadow(0px 1px 15px #de2727); */
    /* box-shadow: 0px 4px 15px 0px #005080; */
    /* box-shadow: 0px -4px 4px 0px rgba(#ffffff, 0.82); */

    /* box-shadow: 0 4px 8px -32px #ffffff;
    -moz-box-shadow: 0 8px 4px -32px #ffffff;
    -webkit-box-shadow: 0 8px 4px -32px #ffffff; */

    color:#fff;
    text-decoration: none;
    text-align: center;
    padding: 0.2rem 1.3rem;
    /* padding-left: 15px; */
    border: 3px solid rgb(101, 120, 238);
    /* shadow: 0 1px 5px rgba(104,104,104,0.8);
    box-shadow:0px 2px 4px rgba(104,104,104,0.8); */
    align-items: center;
    /* align-self: center; */
    align-content: center;
    /* height: 15
    0px;
    width:150px; */
    font-size: 18px;
    max-height: 150px;
    /* min-height: 100px; */
    min-width: 100px;
    margin:auto;
}

.letra_gris{
  color:gray !important;
}


.info_template {
    /* margin:20px; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    grid-column-gap: 30px;
    grid-row-gap: 20px;

    /* grid-column:1; */
    min-height:80vh;
    background-image: linear-gradient(to bottom, rgb(23, 22, 22),rgba(33,33,33));
    /* background-image: url("../img/bg_image4.jpg"); */
    color: white;
    border: 1.5px solid gray;
    border-radius: 15px;
    padding: 35px;
    text-align: center;
    /* margin:15px; */
    /* display:grid; */
    /* grid-template-columns: repeat(4,1fr); */
    /* grid-template-rows:repeat(4,1fr); */
    /* grid-gap:5px; */
    /* justify-items:center;
    align-items: center; */
}

.info_maquina_template {
  /* grid-area: 1 / 4 / span 1 / 9; */
  grid-row-gap: 15px;

}

.info_conexion_template {
  /* grid-area: 1 / 1 / span 1 / 4; */
  grid-row-gap: 15px;
 }

.locking_template {
  /* grid-area: 1 / 9 / span 1 / 12; */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

/* .div1 { grid-area: 4 / 2 / 9 / 6; } */
.boton_bloqueo {
   grid-area: 3 / 3 / 4 / 4;
   margin:auto;
   /* grid-column:span1; */
   /* grid-row:span1 */
 }
.texto_indicador {
  /* grid-column:span1;
  grid-row:span1 */
   grid-area: 2 / 3 / 3 / 4;
   margin:auto;
 }

 .plantilla_remesa_hermes {
   display: grid;
   /* grid-template-columns: repeat(5, 1fr); */
   grid-template-columns: 1fr;

   /* grid-template-rows: repeat(6, 1fr); */
   grid-column-gap: 8px;
   grid-row-gap: 12px;
   min-height:80vh;
   /* min-height:350px; */
   /*grid-row: auto; */
   /* background-color:  rgba(8, 8, 8, 1); */
   background-image: url("../img/bg_image4.jpg");
   color: white;
   border: 1.5px solid gray;
   border-radius: 15px;
   /* padding: 5px; */
   text-align: center;
 }

@media only screen
/* para pantalla de raspberry pi */
and (min-device-width : 799px)
and (max-device-width : 800px)
and (-webkit-min-device-pixel-ratio: 1)  {
  .ec_btn{
    padding: 0.2rem 0.8rem;
  }
  body {
    /* background-color: black; */
    margin:0;
  }
  .grupo4{
    min-height:80vh;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:repeat(2,1fr);
  }
  .btn{
    padding: 0.4rem 1.3rem;

  }
  .cabecera{
    /* background-color: rgb(201, 43, 9) ; */
    grid-area: cabecera;
    align-content: center;
  }
  .area_trabajo{
    /* height: 60vh; */
    /* background-color: rgb(20, 243, 9) ;
    grid-area: area_trabajo;
    display: grid;
    grid-template-columns: 1fr 1fr; */
    /* grid-template-rows: 1fr 1fr; */
    /* grid-template-areas:
    "resumen resumen2"
    "panel1 panel2"; */
  }
  .area_trabajo_logo{
    /* height: 60vh; */
    background-color: rgb(20, 243, 9) ;
    grid-area: area_trabajo;
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; */
    grid-template-areas:
    "vacio vacio vacio"
    "vacio logo vacio"
    "vacio vacio vacio";
  }
  .logo{
    display: block;
    grid-area: logo;
  }
  .vacio{
    grid-area: vacio;
    min-height: 20%;
  }
  .panel1{
    display: none;
    grid-area:panel1;
    /* margin:30px; */
    background-color: rgb(20, 143, 9) ;
    justify-content: center;
    align-content: center;
  }
  .panel2{
    display: none;
    grid-area:panel2;
    /* margin:30px; */
    background-color: rgb(101, 43, 9) ;
    align-content: center;
  }
  .resumen{
    display: none;
    grid-area:resumen;
    /* margin:30px; */
    background-color: rgb(201, 143, 9) ;
    overflow-y: hidden;
    max-height: 200px;
  }
  .resumen2{
    display: none;
    grid-area:resumen2;
    /* margin:30px; */
    background-color: rgb(201, 143, 9) ;
    overflow-y: hidden;
    max-height: 200px;
  }
  .pie_de_pagina{
    /* background-color: rgb(20, 43, 199) ; */
    grid-area: pie_de_pagina;
    font-size: 12px;
    background-color: rgba(8, 8, 8, 1);
    display: grid;
    /* grid-template-columns: 1fr 1fr 7fr 2fr 1fr; */
    /* max-height: 13vh; */
    /* border: 1.5px solid gray; */
    /* padding: 5px; */
    border-radius: 10px;
    color: gray;
    /* font-size:20px; */
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    align-items: center;
  }

  .ec_wrapper{
    min-height: 100vh;
  }
}

@media only screen
/* para pantalla deihpone */
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : landscape){
  .grupo4{
    min-height:40vh;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows:repeat(2,1fr);
  }
}

@media only screen
/* para pantalla deihpone */
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : portrait){
  .grupo4{
    min-height:80vh;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows:repeat(2,1fr);
    background-color: white;
  }
  .mensaje_titulo{
    font-size:14px;
    font-weight: bold;
    /* grid-column: 2/4; */
    padding: 10px;
  }
  .info_template{
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    background-color: white;
    overflow-y:auto;
  }
  .resumen{
    grid-column-start:span 2;
    min-width: 90vw;
  }
}
