<script type="text/javascript">
  var socket = io();
$(document).ready(function() {
  setTimeout(function() {
    socket.emit('lock_cashbox');
    window.location.replace("/");
  }, 5000);

});
</script>
<body  oncontextmenu="return false">
  <div class="wrapper">
    <div class="titulo">
      <div></div>
      <div>Terminado</div>
    </div>

    <div class="remesa_hermes">
      <div class="mensaje_centrado2">Proceso completado</div>
    </div>

  </div>
  <div id="message">
    <ol></ol>
  </div>

</body>
