<script type="text/javascript">
var socket = io();
$(document).ready(function(){
  socket.on('Smart_emptied', function(msg){
    window.location.replace("/smart_empty");
  });
  socket.on('Note_Transfered_to_Stacker', function(msg){
    display_message(msg);
  });
  socket.on('Cashbox_lock_enable', function(msg){
   display_message(msg);
  });
  socket.on('Staking', function(msg){
   display_message(msg);
  });
  socket.on('emptied', function(msg){
   display_message(msg);
  });
  socket.on('Staked', function(msg){
   display_message(msg);
  });
  socket.on('Read', function(msg){
   display_message(msg);
  });
  socket.on('emptying', function(msg){
   display_message(msg);
  });
  socket.on('emptied', function(msg){
   display_message(msg);
  });
  socket.on('Note_Transfered_to_Stacker', function(msg){
   display_message(msg);
  });
  socket.on('jam_recovery', function(msg){
   display_message(msg);
  });
  socket.on('jam_recovery', function(msg){
    display_message(msg);
  });
});

function display_message(mes_to_display){
  document.getElementById("message").innerHTML=mes_to_display;
  setTimeout(clear_message,1000);
};
function clear_message(){
  document.getElementById("message").innerHTML=""
};
</script>
<body  oncontextmenu="return false">
  <div class="wrapper">
    <div class="titulo">
      <div id="message">Procesando...</div>
    </div>

    <div class="remesa_hermes">
      <div class="mensaje_centrado">Un momento Por Favor, Estamos acomodando los billetes en la bolsa</div>
    </div>
  </div>
  <!-- <div id="message">
    <ol></ol>
  </div> -->

</body>
