
{{!-- <script src="  https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script type="text/javascript">
  $(document).ready(function() {
    var socket = io();
    //////////////////////////////////////////
    $("#initialize").click(function() {
      socket.emit('enable_validator');
    });
    //////////////////////////////////////////
    //ping pong entre router y server
    socket.on('initialize_system', function(msg) {
      alert("socket received");
    });
    socket.on('refresh_window', function(msg) {
  //    socket.emit('refresh_window', msg);
     window.location.reload(true);
    });

    socket.on('mostrar_iniciar_remesa', function(msg) {
    //  socket.emit('mostrar_iniciar_remesa');
    //  socket.emit('anuncio_diferido');
    //if (window.location.href.indexOf('iniciar_remesa') > 0) {
    //  alert(msg);
    //}else {
      window.location.replace(msg);
    //}
    });

//////////////////////////////////////////
    function display_message(mes_to_display) {
      document.getElementById("message").innerHTML = mes_to_display;
      //  $("ol").append("<li>"+mes_to_display+"</li>");
      setTimeout(clear_message, 3000);
    };
    function clear_message() {
      document.getElementById("message").innerHTML = "";
    }
  });

</script>


<div class="index">
  <div class="fondo">

    <!-- <div class="container">

<div class="d-flex p-2" >
<img src="/img/logo_tambo3.png" alt="">
<h1 style="color=white"> Iniciar Remesa</h1>

</div> -->
    <div class="container p-4">
      <div class="row">
        <div class="col-md-4 mx-auto">
          <div class="card text-center">
            <div class="card-body">
              <!-- <img src="/img/logo_tambo3.png" alt=""> -->
              <!-- <div id="message"><ol></ol></div>
            <a href="" class="btn btn-primary m-4" id="sock">manda socket</a> -->
              {{#if remesa}}
                <h3>Remesa lista para procesar</h3>
                <h4>#:{{remesa.no_remesa}}</h4>
                <h5>Presione el boton para ingresar el dinero</h5>
                <a href="/iniciar_remesa" class="btn btn-primary m-4" id="initialize">Iniciar remesa</a>
                <!-- <a href="/iniciar_remesa" class="btn btn-primary m-4" id="initialize">Iniciar</a> -->
{{else}}
                {{#if retiro}}
                 <h3>Solicitud de Retiro en proceso</h3>
                 <h4>#:{{retiro.no_remesa}}</h4>
                 <!-- <h5>Presione el boton para ingresar el dinero</h5> -->
                 {{else}}
                   <h3>Bienvenido</h3>
                   <h4>Para comenzar el proceso, envie orden de Nueva Remesa desde el terminal RMS</h4>
                 {{/if}}


              {{/if}}


            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

</div>
</div> --}}

<body>
<div class="wrapper">
<!-- ///////////////////////////////////////////// -->

<!-- ///////////////////////////////////////////// -->
<div></div>
<!-- ///////////////////////////////////////////// -->
<div class="titulo">
  <div>
    <img src="img/logo_tambo2.png" alt="Tambox" width="200" height="125">
  </div>
    <div >TAMBOX v1</div>
    <div class="btn" id='config'>Conf</div>
</div>
<!-- ///////////////////////////////////////////// -->

<!-- ///////////////////////////////////////////// -->
<div class="status">
<div class="pagar">
<div class="subtitulo">Pagar</div>
<div id="pagar"></div>
<div class="btn" id='comprar'>+1</div>
</div>
<!-- ///////////////////////////////////////////// -->
<div class="vuelto">
<div class="subtitulo">Falta depositar</div>
<div id="vuelto"></div>
<div class="btn" id='cancelar'>Cancelar</div>
</div>
<!-- ///////////////////////////////////////////// -->
<div class="depositado">
<div class="subtitulo">Depositado</div>
<div id="depositado"></div>
<div class="btn" id='deposito'>+1</div>
</div>

</div>
<div class="resultado">

<div class="acumulado">
<div class="subtitulo">Acumulado</div>
<div id="acumuladox"></div>
</div>
<!-- ///////////////////////////////////////////// -->
<div class="devuelto">
<div class="subtitulo">Devuelto</div>
<div id="devuelto"></div>
</div>

</div>
<!-- ///////////////////////////////////////////// -->
</div>


<div id="message"><ol></ol></div>
<!-- ///////////////////////////////////////////// -->
</body>
