section{
  width:62%;
  height:62%;
  align-content: center;
}
.acumulado{
display: grid;
grid-template-rows: auto auto 1fr;
justify-content: center;
align-items: center;
color:rgb(128, 156, 10);
}

body{
  background-color:rgb(43, 45, 52);
  color:rgb(106, 106, 106);
}
.wrapper{
  max-height: 460px;
  max-width: 800px;
  overflow: hidden;
  display: grid;
  /* padding: 1em; */
  grid-gap: 0.5em;
  grid-template-columns: 1fr 1fr 0.5fr 0.5fr;
  /* grid-template-rows: auto auto 0.5fr; */
  margin : 0 auto;
}
.wrapper > div{
  /* background-color: rgb(40, 40, 40); */
  /* padding: 1em; */

}
.titulo{
  display: grid;
  grid-template-columns: 0.5fr 4fr;
  color:rgb(138, 138, 138);
  background-color: rgba(8, 8, 8, 1);
  border: 1.5px solid gray;
  padding: 5px;
  border-radius: 10px;
  grid-column: 1/5;
  text-align:center;
  font-size: 28px;
  align-content: center;
  align-items: center;
}
.graph{
  grid-column: 1/3;

}
.mapa{
  background-color: rgb(43, 45, 52);
  /* grid-column: 3/5;
  grid-auto-rows: minmax(250px,auto); */
}
.footer{
  background-color: rgba(8, 8, 8, 1);
  border: 1.5px solid gray;
  border-radius: 10px;
  grid-column: 1/5;
  font-size: 12px;
  text-align: center;
  padding: 1em;
}
.subdiv{
  font-size: 22px;
  background-color:  rgba(8, 8, 8, 1);
  border: 1.5px solid gray;
  padding: 10px;
  border-radius: 15px;
  display: grid;
  grid-column: 3/5;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1em;
  grid-row-gap: 1em;
}
.amount{
  color:rgb(138, 138, 138);
  font-size: 38px;
  text-align: center;
  padding: 1.5em;
}
.btn{
  align-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
  border-radius: 12px;
  background-color: rgba(12, 51, 247, 0.75);
  color:#fff;
  text-decoration: none;
  padding: 0.6rem 1.3rem;
  border: 0;
  shadow: 0 1px 5px rgba(104,104,104,0.8);
  box-shadow:0px 2px 4px rgba(104,104,104,0.8);
}
.subtitle{
  font-size: 32px;
  text-align: center;
}
.graph{
  background-color: rgba(8, 8, 8, 1);
  border: 1.5px solid gray;
  padding: 10px;
  border-radius: 15px;
  /* display: grid;
  grid-column: 3/5; */
  /* grid-template-rows: 1fr 1fr; */
  /* grid-gap: 1em;
  grid-row-gap: 1em; */
}
.resumen{
display: grid;
/* grid-template-rows: 1fr 2fr 1fr; */
/* padding: 0.5em; */
/* padding-bottom: 0.5em; */
}
.volver{
  /* background-color: rgb(35, 35, 36); */
  padding: 0.5em;
  text-align: center;
  /* border: 1px solid gray; */
  height: 20px;
}

.grupo{

  grid-column: 3/5;
  text-align: center;
  font-size: 22px;
  background-color:  rgba(8, 8, 8, 1);
  border: 1.5px solid gray;
  /* padding: 10px; */
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  /* grid-gap: 1em; */
  /* grid-row-gap: 1em; */
  /* grid-row:minmax(auto,150px); */
}
