<div class="index">
  <div class="fondo">
<!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="crossorigin="anonymous"></script>
<script src="  https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js" type="text/javascript"></script> -->
<script type="text/javascript">
var socket = io();
$(document).ready(function(){
var total=0;
var new_level=[0,0,0,0,0];
//setTimeout(update_chart_levels(new_level),5000);
setTimeout(function(){
update_chart_levels(new_level);
 }
  ,1000);
//update_total_amount(300);
//update_chart_levels(new_level);
  //cuando el validador detecta un billete y lo guarda en su base de datos, pinta en pantalla el monto
socket.on('actualizar_monto', function(msg){
      var value_read=parseInt(msg,10);
      agregar(value_read);
      calcular();
    });

function calcular(){
  document.getElementById('total').innerHTML="S/."+total+".00";
}



 });

 function update_chart_levels(msg){
 //  acumulado=acumulado+1;
 //  alert("actualizando chart");
   myChart.data.datasets[0].data[0] = msg[0];
   myChart.data.datasets[0].data[1] = msg[1];
   myChart.data.datasets[0].data[2] = msg[2];
   myChart.data.datasets[0].data[3] = msg[3];
   myChart.data.datasets[0].data[4] = msg[4];
   total_amount=(10*msg[0])+(20*msg[1])+(50*msg[2])+(100*msg[3])+(200*msg[4]);
 //  total_amount="S/."+total_amount+".00";
   update_total_amount(total_amount);
   //myChart.data.labels[5] = "Newly Added";
   myChart.update();
 }

function update_total_amount(value){
  var fixed;
fixed=  "S/."+value+".00";
document.getElementById("total_amount").innerHTML=fixed;
}


function consulta_niveles() {
var eID = document.getElementById("opciones_filtro");
var filter_value = eID.options[eID.selectedIndex].value;

if(filter_value=="general"){
  $("#lista_por_tienda").hide();
    $("#remesas_list").hide();
    //socket.emit('consultar_total_x_tienda', "msg");
}

if(filter_value=="tienda"){
  $("#lista_por_tienda").show();
    $("#remesas_list").hide();
    socket.emit('consultar_lista_tienda_id', "msg");
}


if(filter_value=="remesa"){
  $("#remesas_list").show();
  $("#lista_por_tienda").hide();
  socket.emit('consultar_remesa', "msg");
}
//document.getElementById('filter2').innerHTML=<h1>hola</h1>;
//alert("consulatndo niveles");
}

socket.on('consultar_lista_tienda_id', function(msg){
  //var x = document.getElementById("remesas_list");
  for (var i = 0; i < msg.length; i++)
  {
  $('#lista_por_tienda').append($("<option></option>")
                    .attr("value",msg[i].tienda_id)
                    .text(msg[i].tienda_id));
  }
//   var remesa= msg;
//     alert(msg[0].no_remesa);
});

socket.on('consultar_remesa', function(msg){
  for (var i = 0; i < msg.length; i++)
  {
  $('#remesas_list').append($("<option></option>")
                    .attr("value",msg[i].no_remesa)
                    .text(msg[i].no_remesa));
  }
});
//
function consulta_monto_remesa() {
  var eID = document.getElementById("remesas_list");
  var remesa_value = eID.options[eID.selectedIndex].text;
   //alert("se consulta la remesa no:"+ remesa_value);
   socket.emit('consultar_monto_remesa', remesa_value);
};


function consulta_monto_total_x_tienda() {
  var eID = document.getElementById("lista_por_tienda");
  var tienda_id = eID.options[eID.selectedIndex].text;
   //alert("se consulta la remesa no:"+ tienda_id);
   socket.emit('consultar_total_tienda_id', tienda_id);
};

socket.on('consultar_monto_remesa', function(msg,creditos){
//  alert("por actualizar el monto de la remesa elegida"+msg);
 var new_levelx=[0,0,0,0,0];
 update_chart_levels(new_levelx);

   update_total_amount(msg);
   for(var i =0 ; i <creditos.length; i++){
    //  alert(creditos[i].monto);
      if(creditos[i].monto==10){
        myChart.data.datasets[0].data[0]=myChart.data.datasets[0].data[0]+1;
        myChart.update();
      }
      if(creditos[i].monto==20){
        myChart.data.datasets[0].data[1]=myChart.data.datasets[0].data[1]+1;
        myChart.update();
      }
      if(creditos[i].monto==50){
        myChart.data.datasets[0].data[2]=myChart.data.datasets[0].data[2]+1;
        myChart.update();
      }
      if(creditos[i].monto==100){
        myChart.data.datasets[0].data[3]=myChart.data.datasets[0].data[3]+1;
        myChart.update();
      }
      if(creditos[i].monto==200){
        myChart.data.datasets[0].data[4]=myChart.data.datasets[0].data[4]+1;
        myChart.update();
      }
   }
   //alert(creditos);
 });

 socket.on('consultar_total_tienda_id', function(msg){
 //  alert("por actualizar el monto de la remesa elegida"+msg);
    update_total_amount(msg);
  });



</script>


<div class="container p-1">
  <div class="row">
  <div class="col-md-12 mx-auto mb-1">
    <div class="card text-center">
      <div class="card-body">
        <p>filtrar por:</p>
              <select id="opciones_filtro" onchange="consulta_niveles()">
             <option selected disabled hidden value="undefined">Seleccione...</option>
             <option value="general">Todas las remesas</option>
             <option value="tienda">solo una tienda</option>
             <option value="empleado">solo un empleado</option>
             <option value="caja">solo una caja</option>
             <option value="remesa">solo una remesa</option>
             </select>

             <div class="filter1">
               <select id="lista_por_tienda" onchange="consulta_monto_total_x_tienda()" style="display:none;">
               <option selected disabled hidden value="undefined">Seleccione...</option>
              </select>
             </div>

             <div class="filter2">
               <select id="remesas_list" onchange="consulta_monto_remesa()" style="display:none;">
               <option selected disabled hidden value="undefined">Seleccione...</option>
              </select>
             </div>
      </div>
   </div>
 </div>
 </div>



    <div class="row">
      <div class="col-md-8 mx-auto mb-1">
        <div class="card text-center">
          <div class="card-body">
            <h3>niveles</h3>

            <div class="graph">
                <div class="chart">
                  <section>
                        <canvas id="myChart" width="80" height="30"></canvas>
                  </section>

                <script>
                var ctx = document.getElementById("myChart").getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: ["10PEN", "20PEN", "50PEN", "100PEN", "200PEN"],
                        datasets: [{
                            label: '# de Billetes',
                            data: [1, 2, 3, 4, 5],
                            backgroundColor: [
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 99, 132, 0.2)'
                            ],
                            borderColor: [
                                'rgba(75, 192, 192, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255,99,132,1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero:true
                                }
                            }]
                        }
                    }
                });
                </script>
            </div>
            </div>


          </div>
        </div>
      </div>


      <div class="col-md-4 mx-auto mb-1">
        <div class="card text-center">
          <div class="card-body">
            <h3>Montos calculados</h3>
            <p>Existe actualmente en la caja tambox un total de:</p>
            <p style="size:16px;" id="total_amount">S/. 0.00</p>

    </div>
    </div>
    </div>

    </div>
  </div>


</div>

</div>
