
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js" type="text/javascript"></script>
<script type="text/javascript">
var socket = io();
var acumulado=0;
var total_amount=0;
  $(document).ready(function(){
    //alert("im still here");
    //actualiza la pagina cuando carga
    socket.emit('getting_levels');

    $("#config").click(function(){
    window.location.replace("/configuracion");
    });

    $("#getting_levels").click( function(){
      //alert("getting levels");
      socket.emit('getting_levels');
    });


$("#reset").click( function(){
socket.emit('reset');
});
socket.on('show_levels', function(msg){
     //display_message("trying to get levels");
     update_chart_levels(msg);
     //alert(msg);

    });

socket.on('inicializando', function(msg){
     display_message("inicializando TEBS");
    });

socket.on('reset', function(msg){
         display_message(msg);
    });
    function  get_total(){
      alert ("hello traying to get totals")
    }

// socket.on('aqui', function(msg){
//     acumulado=acumulado+1;
//     myChart.data.datasets[0].data[0] = acumulado;
//     myChart.update();
// });

socket.on('reiniciando', function(msg) {
  window.location.replace("/");
});


  });

  // function update_chart_levels(){
  //   acumulado=acumulado+1;
  //   actualizar_acumulado();
  //   myChart.data.datasets[0].data[0] = acumulado;
  //   //myChart.data.labels[5] = "Newly Added";
  //   myChart.update();
  // }

  function update_chart_levels(msg){
    acumulado=acumulado+1;
    //actualizar_acumulado();
    myChart.data.datasets[0].data[0] = msg[0];
    myChart.data.datasets[0].data[1] = msg[1];
    myChart.data.datasets[0].data[2] = msg[2];
    myChart.data.datasets[0].data[3] = msg[3];
    myChart.data.datasets[0].data[4] = msg[4];
    total_amount=(10*msg[0])+(20*msg[1])+(50*msg[2])+(100*msg[3])+(200*msg[4]);
    total_amount="S/."+total_amount+".00";
    update_total_amount(total_amount)
    //myChart.data.labels[5] = "Newly Added";
    myChart.update();
  }

  function update_total_amount(value){
  document.getElementById("total_amount").innerHTML=value;
  }

      function display_message(mes_to_display){
        document.getElementById("message").innerHTML=mes_to_display;
      //  $("ol").append("<li>"+mes_to_display+"</li>");
        setTimeout(clear_message,1000);
      };

      function clear_message(){
        document.getElementById("message").innerHTML=""
      };

</script>
<body>
  <div class="wrapper">
    <div></div>

<div class="titulo">
<div class="btn volver" id='config'>Configuration</div>
<div>Cantidad de billetes para vuelto</div>
</div>
<div></div>
<div class="graph">
    <div class="chart">
      <section>
            <canvas id="myChart" width="100" height="100"></canvas>
      </section>

    <script>
    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ["10PEN", "20PEN", "50PEN", "100PEN", "200PEN"],
            datasets: [{
                label: '# de Billetes',
                data: [0, 0, 0, 0, 0],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });
    </script>
</div>
</div>

<!-- <div class="subdiv"> -->
  <!-- <div class="mapa">This is the map</div> -->
  <div class="grupo">
    <div></div>
    <div class="resumen">
    <div class="subtitle">Total:</div>
    <div class="amount" id="total_amount">000.00</div>
    <a href="#" class="btn" id='getting_levels'>Actualizar</a>
    </div>
        <div></div>
  </div>

<!-- </div> -->
<div class="footer">Created by EC-HOME AUTOMATION PERU</div>
<!-- <div id="message">
<ol>
</ol>
</div> -->

</div>
</body>
