<div class="index">
  <div class="fondo">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="crossorigin="anonymous"></script>
    <script src="  https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
    <script type="text/javascript">

$(document).ready(function(){
    var socket = io();

      $("#remesa_ok").click( function(){
    //  socket.emit('finish',"finalizando remesa");
      });


      //cuando el validador detecta un billete y lo guarda en su base de datos, pinta en pantalla el monto
// socket.on('actualizar_monto', function(msg){
//         var value_read=parseInt(msg,10);
//         agregar(value_read);
//         calcular();
//       });
//
//     var depositado=0;
//
//     function agregar(monto){
//        depositado=depositado+monto;
//       socket.emit('agregar',depositado);
//     };
//     function calcular(){
//       document.getElementById('depositado').innerHTML=depositado;
//     }
    });
</script>
    <div class="container p-4">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <div class="card text-center">
              <div class="card-body">
                <h1>Remesa finalizada satisfactoriamente</h1>
                <h3>Se recibio el monto de S/.{{remesa.monto}}.00 para la remesa #{{remesa.no_remesa}}</h3>
                <a href="/" class="btn btn-primary m-2"  id="remesa_ok">Ok</a>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
</div>
