/////////////////////////////////////////////////////////
<div class="index">
  <div class="fondo">
/////////////////////////////////////////////////////////
<script type="text/javascript">
$(document).ready(function(){
/////////////////////////////////////////////////////////
var socket = io();
$("#finish").click( function(){
  socket.emit('finish',"finalizando remesa");
});
/////////////////////////////////////////////////////////
//para cancelar el pago de una remesa, solo antes de iniciarse
$("#canceling").click( function(){
  socket.emit('disable_validator');
});
/////////////////////////////////////////////////////////
//cuando el validador detecta un billete y lo guarda en su base de datos, pinta en pantalla el monto
socket.on('actualizar_monto', function(msg){
  var value_read=parseInt(msg,10);
  agregar(value_read);
  calcular();
});
/////////////////////////////////////////////////////////
var depositado=0;
function agregar(monto){
  depositado=depositado+monto;
  socket.emit('agregar',depositado);
};
/////////////////////////////////////////////////////////
function calcular(){
  document.getElementById('depositado').innerHTML="S/."+depositado+".00";
}
/////////////////////////////////////////////////////////
});
/////////////////////////////////////////////////////////
</script>
<div class="container p-4">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <div class="card text-center">
          <div class="card-body">
            <h3>Ingrese el dinero</h3>
            <div id="depositado">S/.000.00</div>
            <a href="/finish" class="btn btn-primary m-2" id="finish">terminar REMESA</a>
            <a href="/cancel" class="btn btn-primary m-2"  id="canceling">cancelar REMESA</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
