body{
  background: #f5f6f5;
  /* background: #a9f9f9; */
  font-family: 'Oswald',sans-serif;
  overflow: hidden;
  padding-bottom: 70px;
}
/* .container{
background-color: transparent;
}
.row{
  background-color: transparent;
} */

/* div.container{
    background-color: red;
} */
table{
  background-color: white;
}
.index{
  width:100vw;
  height: 100vh;
}
.fondo{
    /* width:100vw;
    height: 100vh; */
    min-height:30rem;
    width: 100%;
    height: 100%;
    padding-top: 2rem;
    background:url('/img/bg_image4.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.masthead{
  color:white;
  min-height:30rem;
  width: 100%;
  height: 100%;
  padding-top: 8rem;
  /* background:url('/img/bg_image.jpg'); */
  /* background:url('/img/bg_image2.png'); */
  background:url('/img/bg_image3.png');
  /* background:url('/img/bg_image4.jpg'); */
  /* background:url('/img/coins.jpg'); */

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer{
    color:white;
    font-size: 12px;
}

#depositado{
  padding-top: 25px;
  font-size: 45px;
  font-weight: bold;
}
