<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximun-scale=1.0,user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="css/favicon.ico" type="image/x-icon">
  <link rel="icon" href="css/favicon.ico" type="image/x-icon">
  <title>Tambox Machine 1.0</title>
  <link rel="shortcut icon" href="">
  <script src="/socket.io/socket.io.js"></script>
  <link href="css/fontawesome/css/all.css" rel="stylesheet" type="text/css">

  <!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script> -->

  <!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/utils/Draggable.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.js"></script> -->

  <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script> -->
  <script src="js/angular-tweebmax-draggable-knob.js"></script>

  <script type="text/javascript" src="/jquery/jquery.min.js"></script>
  <!-- <script type="text/javascript" src="js/TweenMax.min.js"></script> -->
  <link rel="stylesheet" type="text/css" href="css/tambox.css">
  <script src="js/Chart.js"></script>
  <script type="text/javascript">
    var socket = io();
    // var socketConnection = io.connect();
    // socketConnection.on('connect', function() {
    //   const sessionID = socketConnection.socket.sessionid; //
    // console.log(sessionID);
    // });
    $(document).ready(function() {

      console.log("cargando homesite 2020");
      // socket.on('iniciando', function(msg) {
      //   setTimeout(function () {
      //     //alert("por resetear");
      //     console.log("por resetear");
      //   //  window.location.replace("/");
      //   }, 5000);
      //   });
    //  socket.on('connection', () => {
        console.log("conectado con servidor");
        socket.on('connect', () => {console.log("mi_id:"+socket.id)});
        //socket.on('disconnect', (reason) => {console.log("mi_id:"+socket.reason+ " is gone...")});

        //console.log("mi_id:"+ socket.id); // an alphanumeric id...
    //  });
    });
  </script>
</head>
<!-- <body>
  <h1>HELLO WORLD</h1>
</body> -->
{{{ body }}}
</html>
