<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximun-scale=1.0,user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="css/favicon.ico" type="image/x-icon">
  <link rel="icon" href="css/favicon.ico" type="image/x-icon">
  <title>Tambox Machine 1.0</title>
  <link rel="shortcut icon" href="">
  <script src="/socket.io/socket.io.js"></script>
  <link href="css/fontawesome/css/all.css" rel="stylesheet" type="text/css">
  <!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script> -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/utils/Draggable.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.js"></script>

  <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script> -->
  <script src="js/angular-tweebmax-draggable-knob.js"></script>

  <script type="text/javascript" src="/jquery/jquery.min.js"></script>
  <!-- <script type="text/javascript" src="js/TweenMax.min.js"></script> -->

  <link rel="stylesheet" type="text/css" href="css/tambox.css">
  <link rel="stylesheet" type="text/css" href="css/tambox_iphone.css">
  <link rel="stylesheet" type="text/css" href="css/tambox_rasp.css">

  <script src="js/ion.sound.js"></script>

  <script src="js/Chart.js"></script>
  <script type="text/javascript">
    var socket = io();
    var is_cashbox_in_service = true;
      var once = true;
      var indicador_unico=false;
      var caja_devuelta=false;
    $(document).ready(function() {

      ion.sound({
  sounds: [{
      name: "intro"
    },
    {
      name: "glass"
    },
    {
      name: "chimes"
    },
    {
      name: "chimes-glassy"
    },
    {
      name: "water_droplet"
    },
    {
      name: "alarm-buzzer"
    },
    {
      name: "bell_ring"
    },
    {
      name: "snap"
    },
    {
      name: "a_user_has_connected"
    },
    {
      name: "tambox_has_started"
    },
    {
      name: "tambox_manager_is_online"
    },
    {
      name: "nueva_remesa"
    },
    {
      name: "sync_ok"
    },
    {
      name: "nuevo_pago"
    },
    {
      name: "iniciando_remesa"
    },
    {
      name: "remesa_finalizada"
    },
    {
      name: "realizando_pago"
    },
    {
      name: "pago_completado"
    },
    {
      name: "monto_exacto"
    },
    {
      name: "un_momento_porfavor"
    },
    {
      name: "anuncio_nueva_remesa_hermes"
    },
    {
      name: "iniciando_remesa_hermes"
    },
    {
      name: "saldo_insuficiente"
    }
  ],
  path: "/sounds/",
  preload: true,
  volume: 1.0
});

    function send_once(orden){
      console.log(indicador_unico);
        if (indicador_unico==false) {
          indicador_unico=true;
          socket.emit(orden);
          indicador_unico=true;
          console.log(indicador_unico);
        }
      }
    socket.on('connect', () => {console.log("mi_id:"+socket.id)});
    socket.on('Cashbox_out_of_Service', function(msg) {
        console.log("desde Cashbox_out_of_Service se recibio el mensaje"+msg);
          $('#out_of_service, .overlay-back,.oss').show();
        // $('.oos, .overlay-back').show();

        document.getElementById('texto_popoup').innerHTML=msg;
        if (msg=="Unable_to_read_Barcode") {
          document.getElementById('msg11').innerHTML="No se detecta bolsa, Será necesario que ingrese una bolsa nueva, verifique que el codigo de barras se encuentre en buen estado.<br> Utilizando la llave desbloquee el pestillo iluminado en color verde";
            send_once('unlock_cashbox', "unlock_cashbox");
            caja_devuelta=false;
        }
        if (msg=="Cashbox_Unlocked") {
          if (caja_devuelta==false) {
            document.getElementById('texto_popoup').innerHTML="Retire el cajón del dinero e introduzca una bolsa nueva";

          }else {
            document.getElementById('texto_popoup').innerHTML="vuelva a bloquear el pestillo utilizando la llave.";
          }

        }
        if (msg=="Cashbox_Removed") {
          caja_devuelta=true;
          document.getElementById('msg11').innerHTML="Detecto que ya saco el cajon de dinero, coloque la nueva bolsa adecuadamente, confirmando que el codigo de barras quede en la posicion correcta.(verificar el sticker en la parte superior del cajon del dinero para mas detalles de como colocar la bolsa)";
        }
        if (msg=="Cashbox_out_of_position") {
          //  caja_devuelta=true;
            document.getElementById('msg11').innerHTML="Tire de la manija suavemente pero con firmeza, hasta retirar el cajon del dinero.";
          }
    });

    socket.on('Cashbox_Back_in_Service', function(msg) {
      $('#out_of_service').fadeOut(500);
      $('#overlay, .overlay-back').fadeOut(500);
    });
    socket.on('lock_machinex', function(msg) {
        console.log("lock_machinex:"+msg.orden);
          if (msg.orden=="lock") {
            $('#overlay, #overlay-back').fadeIn(500);
          }else {
            $('#overlay, #overlay-back').fadeOut(500);
          }
    });


    socket.on('iniciando_remesa', function(msg) {
      ion.sound.play("iniciando_remesa");
    });

    socket.on('remesa_finalizada', function(msg) {
      ion.sound.play("remesa_finalizada");
    });

    socket.on('realizando_pago', function(msg) {
      ion.sound.play("realizando_pago");
    });

    socket.on('pago_completado', function(msg) {
      ion.sound.play("pago_completado");
    });
    socket.on('monto_exacto', function(msg) {
      ion.sound.play("monto_exacto");
    });

    socket.on('un_momento_porfavor', function(msg) {
      ion.sound.play("un_momento_porfavor");
    });

    socket.on('anuncio_nueva_remesa_hermes', function(msg) {
      ion.sound.play("anuncio_nueva_remesa_hermes");
    });
    socket.on('iniciando_remesa_hermes', function(msg) {
      ion.sound.play("iniciando_remesa_hermes");
    });
    socket.on('anuncio_saldo_insuficiente', function(msg) {
      ion.sound.play("saldo_insuficiente");
    });

    // socket.on('adopt', function(msg) {
    // //  $('#out_of_service').fadeOut(500);
    // console.log("adopting machine:"+msg);
    // alert("THIS MACHINE IS REQUESTED TO BE ADOPTED");
    // // if (msg.orden=="lock") {
    // //   $('#overlay, #overlay-back').fadeIn(500);
    // // }else {
    // //   $('#overlay, #overlay-back').fadeOut(500);
    // // }
    //
    // });
    // ion.sound.play("glass");
  //  ion.sound.play("nuevo_pago"); //nuevo pedido de pago recibido
//    ion.sound.play("sync_ok"); //sincronizacion satisfactoria con tambox manager
//    ion.sound.play("nueva_remesa"); //iniciando nueva remesa

//    ion.sound.play("tambox_manager_is_online"); //tambox_manager_is_online
  //  ion.sound.play("un_momento_porfavor"); //tambox_manager_is_online
//    ion.sound.play("anuncio_nueva_remesa_hermes"); //tambox_manager_is_online
//    ion.sound.play("iniciando_remesa_hermes"); //tambox_manager_is_online
//    ion.sound.play("saldo_insuficiente"); //tambox_manager_is_online

    ion.sound.play("tambox_has_started"); //tambox_manager_is_online
//  await ion.sound.play("a_user_has_connected"); //a_user_has_connected
   //a_user_has_connected
  // ion.sound.play("monto_exacto");
    });
  </script>
  <style media="screen">
    .overlay-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    border-radius: 15px;
    opacity: 0.6;
    filter: alpha(opacity=60);
    z-index: 5;
    display: none;
    }
    #out_of_service {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    /* height: 100%; */
    opacity: 1;
    z-index: 10;
    display: none;
    margin: 0 auto;
    }
    .oss{
    display: none;
    }
    /* #overlay {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 100%;
    opacity: 1;
    z-index: 10;
    display: none;
    margin: 0 auto;
    } */
  </style>
</head>

{{{ body }}}

<!-- <div class="popup oos" style="display:none"> -->
  <div class="popup oos">
    <div class="overlay-back"></div>
    <div id="out_of_service">
      <div class="grupo3 panel_oos">
        <div id="titulo_popup">La maquina esta fuera de servicio</div>
        <div id="texto_popoup"></div>
      </div>
    </div>
</div>
</html>
