<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximun-scale=1.0,user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tambox Machine 1.0</title>
  <link rel="shortcut icon" href="/img/favicon-32x32.png" type="image/x-icon">
  <script src="/socket/socket.io.dev.js"></script>

  <script type="text/javascript" src="/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="../jquery/jquery.min.js"></script>

  <link rel="stylesheet" type="text/css" href="css/tambox.css">
  <link rel="stylesheet" type="text/css" href="../css/tambox.css">

  <script src="/chart/Chart.js"></script>
  <link href="css/fontawesome/css/all.css" rel="stylesheet" type="text/css">
  <link href="..css/fontawesome/css/all.css" rel="stylesheet" type="text/css">

  <script type="text/javascript">
    var socket = io();
    $(document).ready(function() {

    });
  </script>
</head>
{{{ body }}}
</html>
